* {
    font-family: 'Roboto', sans-serif;
}
html, body {
  height: 100%;
}
div {
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
img {
    width: auto;
    height: auto;
    max-width: 95%;
    max-height: 80%;
    display: block;  
    
    margin-left: 2%;
    margin-right: auto; 
}
@media only screen and (max-width : 420px) {
    img {
        margin-left: auto;
        margin-right: auto; 
    }
}